{% set project = entry.project %}
{% set systemTranslations = systemTranslations.systemTranslations %}

<div class="project imageToggles__wrapper js-project">
    <div class="project__inner">
        <div class="d-flex flex-column flex-lg-row">
            {# button #}
            <a href="{{ siteUrl }}" class="project__back me-lg-5 linkSmallCursor" alt="Back">
                <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.825 7L36 7V9L3.825 9L9.425 14.6L8 16L0 8L8 0L9.425 1.4L3.825 7Z" fill="black"/>
                </svg>
            </a>

            <div class="w-100 position-relative">
                {# project #}
                <h1 class="project__website mono mb-0 mt-lg-0">{{project.website}}</h1>
                <h2 class="project__company mono mt-0">{{project.company}}</h2>
                <a class="project__share c-p d-flex gap-5 linkSmallCursor" data-shareTitle="Nico Fortino - {{entry.title}}" data-shareText="{% if project.lead is not null %}{{project.lead|striptags|slice(0, 93)}}...{% else %}Take a look at this project...{% endif %}">
                    <span class="project__share--label">
                        {{systemTranslations.share}}
                    </span>
                    <svg width="24" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 20C14.1667 20 13.4583 19.7083 12.875 19.125C12.2917 18.5417 12 17.8333 12 17C12 16.8833 12.0083 16.7623 12.025 16.637C12.0417 16.5123 12.0667 16.4 12.1 16.3L5.05 12.2C4.76667 12.45 4.45 12.6457 4.1 12.787C3.75 12.929 3.38333 13 3 13C2.16667 13 1.45833 12.7083 0.875 12.125C0.291667 11.5417 0 10.8333 0 10C0 9.16667 0.291667 8.45833 0.875 7.875C1.45833 7.29167 2.16667 7 3 7C3.38333 7 3.75 7.07067 4.1 7.212C4.45 7.354 4.76667 7.55 5.05 7.8L12.1 3.7C12.0667 3.6 12.0417 3.48767 12.025 3.363C12.0083 3.23767 12 3.11667 12 3C12 2.16667 12.2917 1.45833 12.875 0.875C13.4583 0.291667 14.1667 0 15 0C15.8333 0 16.5417 0.291667 17.125 0.875C17.7083 1.45833 18 2.16667 18 3C18 3.83333 17.7083 4.54167 17.125 5.125C16.5417 5.70833 15.8333 6 15 6C14.6167 6 14.25 5.929 13.9 5.787C13.55 5.64567 13.2333 5.45 12.95 5.2L5.9 9.3C5.93333 9.4 5.95833 9.51233 5.975 9.637C5.99167 9.76233 6 9.88333 6 10C6 10.1167 5.99167 10.2373 5.975 10.362C5.95833 10.4873 5.93333 10.6 5.9 10.7L12.95 14.8C13.2333 14.55 13.55 14.354 13.9 14.212C14.25 14.0707 14.6167 14 15 14C15.8333 14 16.5417 14.2917 17.125 14.875C17.7083 15.4583 18 16.1667 18 17C18 17.8333 17.7083 18.5417 17.125 19.125C16.5417 19.7083 15.8333 20 15 20Z" fill="#202020"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center">
            {# usps #}
            <div class="project__usp">
                {% for usp in project.usps %}
                    <div class="project__usp__item d-flex justify-content-between">
                        <p class="project__usp__title mono m-0">{{usp.title}}</p>
                        <h4 class="project__usp__text mono m-0">{{usp.item}}</h4>
                    </div>
                {% endfor %}
            </div>

            {# lead #}
            <div class="project__lead py-4">
                {{project.lead}}
                {% if project.visitProjectOn %}
                    <a href="https://{{project.website}}" target="_blank" class="project__visit mono linkSmallCursor">
                        {{systemTranslations.visitProject}}
                        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_697_135)">
                            <path d="M-1.88488 24.0686L-14.636 36.8198L-16.0503 35.4056L-3.29909 22.6544L-11.2187 22.6544L-11.201 20.6568H0.112698V31.9705L-1.88488 31.9882L-1.88488 24.0686Z" fill="#202020"/>
                            <path d="M15.1151 7.06861L2.36396 19.8198L0.949747 18.4056L13.7009 5.6544L5.78131 5.6544L5.79899 3.65682H17.1127V14.9705L15.1151 14.9882L15.1151 7.06861Z" fill="#202020"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_697_135">
                            <rect width="22" height="20" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </a>
                {% endif %}
            </div>
        </div>

        {# galery #}
        {% if project.imagesDarkmode.one() is not null %}
            <div class="project__galery imageToggles__dark mb-5">
                {% for img in project.imagesDarkmode %}
                    <img src="{{img.url}}" alt="{{image.alt}}" class="project__galery__item">
                {% endfor %}
            </div>
        {% endif %}

        <div class="project__galery {% if project.imagesDarkmode.one() is not null %}imageToggles__light{% else %}imageToggles__light-unavilable{% endif %} mb-5">
            {% for img in project.images %}
                <img src="{{img.url}}" alt="{{image.alt}}" class="project__galery__item">
            {% endfor %}
        </div>
        
        {# lighthouse #}
        {% if project.lighthouseDoc.one().url is not null %}
            <div class="project__lighthouse d-flex flex-column align-items-center">
                <div class="col-lg-6">
                    <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
                        <h4 class="project__lighthouse__title mono m-0">{{systemTranslations.lighthouseReport}} <span class="text-small mono">(Desktop)</span></h4>
                        <a href="{{project.lighthouseDoc.one().url}}" target="_blank" class="text-small mono">Download</a>
                    </div>
                    <div class="mt-4 d-flex flex-wrap flex-lg-nowrap justify-content-lg-between">
                        {% for stat in project.lighthouse %}
                            <div class="project__lighthouse__stat mb-3">
                                <h4 class="project__lighthouse__stat--title mono m-0">{{stat.performance}}</h4>
                                <p class="project__lighthouse__stat--description mono m-0">{{systemTranslations.performance}}</p>
                            </div>

                            <div class="project__lighthouse__stat mb-3">
                                <h4 class="project__lighthouse__stat--title mono m-0">{{stat.accesability}}</h4>
                                <p class="project__lighthouse__stat--description mono m-0">{{systemTranslations.accesability}}</p>
                            </div>

                            <div class="project__lighthouse__stat mb-3">
                                <h4 class="project__lighthouse__stat--title mono m-0">{{stat.bestPractices}}</h4>
                                <p class="project__lighthouse__stat--description mono m-0">{{systemTranslations.bestPractices}}</p>
                            </div>

                            <div class="project__lighthouse__stat">
                                <h4 class="project__lighthouse__stat--title mono m-0">{{stat.seo}}</h4>
                                <p class="project__lighthouse__stat--description mono m-0">{{systemTranslations.seo}}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {# more Projects #}
        <div class="project__moreProjects">
            <h4 class="project__lighthouse__title mono mt-3">{{systemTranslations.moreProjects}}</h4>
            {% set shuffledProjects = shuffle(entry.siblings) %}

            <div class="projectGrid__wrapper d-flex justify-content-between flex-wrap flex-lg-nowrap flex-direction-lg-row">
                {% for project in shuffledProjects %}
                    {% if loop.index <= 2 %}
                        <div class="projectGrid__project col-12 col-lg-6">
                            <a href="{{ project.url }}" class="projectGrid__project__link">
                                {% if project.project.imagesDarkmode.one() is not null %}
                                    <div class="projectGrid__project__img imageToggles__dark">
                                        <img class="border-radius-6" src="{{ project.project.imagesDarkmode.one().url }}" alt="{{ project.project.imagesDarkmode.one().title }}">
                                    </div>
                                {% endif %}

                                <div class="projectGrid__project__img {% if project.project.imagesDarkmode.one() is not null %}imageToggles__light{% else %}imageToggles__light-unavilable{% endif %}">
                                    <img class="border-radius-6" src="{{ project.project.images.one().url }}" alt="{{ project.project.images.title }}">
                                </div>
                                <div class="projectGrid__project__content">
                                    <p class="artifact">{{ project.projectNumber }}</p>
                                    <h3 class="projectGrid__project__title mono">{{ project.project.website }}</h3>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>