{% set systemTranslations = systemTranslations.systemTranslations %}
{% set countProjectDeveloped = 0 %}
{% set countProjectImprovedMaintained = 0 %}
{% for project in craft.entries.section('projects').all() %}
    {% if project.project.projectType == 'developed' %}
        {% set countProjectDeveloped = countProjectDeveloped + 1 %}
    {% endif %}
    {% if project.project.projectType == 'improvedMaintained' %}
        {% set countProjectImprovedMaintained = countProjectImprovedMaintained + 1 %}
    {% endif %}
{% endfor %}

<div id="projects" class="projectGrid projectGrid__mobile imageToggles__wrapper">
    <div class="projectGrid__inner">
        <div class="projectGrid__wrapper d-flex justify-content-between flex-direction-lg-row flex-wrap flex-lg-nowrap">
            {% if entry.url == block.work.one().url %}
                <h1 class="projectGrid__title mb-0 mt-0 mono">{{systemTranslations.projectsdeveloped}}<span class="text-small mono"> // {% if countProjectDeveloped <= 9 %}0{% endif %}{{countProjectDeveloped}} Projects</span></h1>
            {% else %}
                <h2 class="projectGrid__title mb-0 mt-0 mono">{{systemTranslations.projectsdeveloped}}<span class="text-small mono"> // {% if countProjectDeveloped <= 9 %}0{% endif %}{{countProjectDeveloped}} Projects</span></h2>
            {% endif %}
            {% for project in craft.entries.section('projects').all() %}
                {% if project.project.projectType == 'developed' %}
                    <div class="projectGrid__project">
                        <a href="{{ project.url }}" class="projectGrid__project__link position-relative">
                            {% set darkImage = project.project.imagesDarkmode.one() %}
                            {% set lightImage = project.project.images.one() %}
                            <div class="projectGrid__project__img {% if darkImage is not null %}imageToggles__dark{% else %}imageToggles__dark-unavilable{% endif %}">
                                {% if darkImage is not null %}
                                    <img class="border-radius-6" src="{{ darkImage.url }}" alt="{{ darkImage.title }}" loading="lazy">
                                {% endif %}
                            </div>

                            <div class="projectGrid__project__img {% if darkImage is not null %}imageToggles__light{% else %}imageToggles__light-unavilable{% endif %}">
                                {% if lightImage is not null %}
                                    <img class="border-radius-6" src="{{ lightImage.url }}" alt="{{ lightImage.title }}" loading="lazy">
                                {% endif %}
                            </div>

                            <div class="projectGrid__project__content {% if project.project.tag is not null %}projectGrid__project__tag--wrapper{% endif %}">
                                <p class="artifact">{{ project.projectNumber }}</p>
                                <h3 class="projectGrid__project__title mono">{{ project.project.website }}</h3>
                            </div>
                            {% if project.project.tag is not null %}
                                <p class="projectGrid__project__tag">{{ project.project.tag }}</p>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            {% if entry.url == block.work.one().url %}
                <h1 class="projectGrid__title mb-0 mt-0 mono">{{systemTranslations.projectsmaintained}}<span class="text-small mono"> // {% if countProjectImprovedMaintained <= 9 %}0{% endif %}{{countProjectImprovedMaintained}} Projects</span></h1>
            {% else %}
                <h2 class="projectGrid__title mb-0 mt-0 mono">{{systemTranslations.projectsmaintained}}<span class="text-small mono"> // {% if countProjectImprovedMaintained <= 9 %}0{% endif %}{{countProjectImprovedMaintained}} Projects</span></h2>
            {% endif %}
            {% for project in craft.entries.section('projects').all() %}
                {% if project.project.projectType == 'improvedMaintained' %}
                    <div class="projectGrid__project">
                        <a href="{{ project.url }}" class="projectGrid__project__link position-relative">
                            {% set darkImage = project.project.imagesDarkmode.one() %}
                            {% set lightImage = project.project.images.one() %}
                            <div class="projectGrid__project__img {% if darkImage is not null %}imageToggles__dark{% else %}imageToggles__dark-unavilable{% endif %}">
                                {% if darkImage is not null %}
                                    <img class="border-radius-6" src="{{ darkImage.url }}" alt="{{ darkImage.title }}" loading="lazy">
                                {% endif %}
                            </div>

                            <div class="projectGrid__project__img {% if darkImage is not null %}imageToggles__light{% else %}imageToggles__light-unavilable{% endif %}">
                                {% if lightImage is not null %}
                                    <img class="border-radius-6" src="{{ lightImage.url }}" alt="{{ lightImage.title }}" loading="lazy">
                                {% endif %}
                            </div>

                            <div class="projectGrid__project__content {% if project.project.tag is not null %}projectGrid__project__tag--wrapper{% endif %}">
                                <p class="artifact">{{ project.projectNumber }}</p>
                                <h3 class="projectGrid__project__title mono">{{ project.project.website }}</h3>
                            </div>
                            {% if project.project.tag is not null %}
                                <p class="projectGrid__project__tag">{{ project.project.tag }}</p>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if block.work.one().url is not null %}
            <a href="{{block.work.one().url}}" class="btn btn--default">{{block.moreButton}}</a>
        {% endif %}
    </div>
</div>
