{% header "X-Robots-Tag: none" %}

<div class="hero whymehero col-12 col-xl-10 mx-auto">
    <div class="hero__inner mb-3">
        <h1 class="hero__title whymehero__title mono">
            <span class="d-flex flex-column">
                <span>Hi,</span>
                <span>I am</span>
            </span>
            Nico
        </h1>

        <div class="hero__lead text-lead py-4 pb-0">
            <div class="hero__lead__wrapper whymehero__lead__wrapper pt-5">
                {{ entry.vCard.lead }}
            </div>
        </div>
    </div>
</div>
{# {% set vcard = craft.app.request.get('id', NULL, true) %} #}


{# {% if clientId is not null %} #}
  <div class="whymedocs mt-xl-6 pt-6 js-whyme">
    <div class="row flex-column col-12 col-lg-10 mx-auto p-0">
      <h2 class="mb-0 mt-0 mono whyme__title col-12 col-lg-8 mx-auto p-0">{{entry.vCard.titel2}}</h2>
      <div class="p-0">
        <div class="col-12 col-xl-8 py-4 mx-auto p-0">
          {{ entry.vCard.lead2 }}
        </div>
      </div>

      <div class="whymedocs__btns__wrapper col-12 col-lg-6 mx-auto d-flex align-items-center p-0">
        <div class="whymedocs__btns whymedocs__btns--1 text-strong me-2 me-xl-0 c-p">
          download contact
        </div>
        <div class="whymedocs__btns--active whymedocs__btns--active--1"></div>
        <div class="whymedocs__btns whymedocs__btns--2 text-strong c-p">
          contact me
        </div>
      </div>

      <a class="whymedocs__download__wrapper whymedocs__content--active col-12 col-xl-6 mx-auto d-flex justify-content-between px-0 pb-1 pt-2 mt-1 c-p linkBigCursor" download href="{{entry.vCard.vcardFile}}">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 20C1.45 20 0.979333 19.8043 0.588 19.413C0.196 19.021 0 18.55 0 18V7C0 6.45 0.196 5.979 0.588 5.587C0.979333 5.19567 1.45 5 2 5H7V2C7 1.45 7.196 0.979 7.588 0.587C7.97933 0.195667 8.45 0 9 0H11C11.55 0 12.021 0.195667 12.413 0.587C12.8043 0.979 13 1.45 13 2V5H18C18.55 5 19.021 5.19567 19.413 5.587C19.8043 5.979 20 6.45 20 7V18C20 18.55 19.8043 19.021 19.413 19.413C19.021 19.8043 18.55 20 18 20H2ZM2 18H18V7H13C13 7.55 12.8043 8.02067 12.413 8.412C12.021 8.804 11.55 9 11 9H9C8.45 9 7.97933 8.804 7.588 8.412C7.196 8.02067 7 7.55 7 7H2V18ZM4 16H10V15.55C10 15.2667 9.92067 15.004 9.762 14.762C9.604 14.5207 9.38333 14.3333 9.1 14.2C8.76667 14.05 8.42933 13.9377 8.088 13.863C7.746 13.7877 7.38333 13.75 7 13.75C6.61667 13.75 6.25433 13.7877 5.913 13.863C5.571 13.9377 5.23333 14.05 4.9 14.2C4.61667 14.3333 4.396 14.5207 4.238 14.762C4.07933 15.004 4 15.2667 4 15.55V16ZM12 14.5H16V13H12V14.5ZM7 13C7.41667 13 7.77067 12.854 8.062 12.562C8.354 12.2707 8.5 11.9167 8.5 11.5C8.5 11.0833 8.354 10.7293 8.062 10.438C7.77067 10.146 7.41667 10 7 10C6.58333 10 6.22933 10.146 5.938 10.438C5.646 10.7293 5.5 11.0833 5.5 11.5C5.5 11.9167 5.646 12.2707 5.938 12.562C6.22933 12.854 6.58333 13 7 13ZM12 11.5H16V10H12V11.5ZM9 7H11V2H9V7Z" fill="black"/>
            </svg>
          </div>
          Nico Fortino - Contact
        </div>
        <div class="">
          <svg width="16" height="18" viewBox="0 0 16 18" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 18V16H16V18H0ZM8 14L3 9L4.4 7.6L7 10.2V0H9V10.2L11.6 7.6L13 9L8 14Z"/>
          </svg>
        </div>
      </a>

      <div class="whymedocs__email__wrapper whymedocs__content--deactive h-100 col-12 col-xl-6 mx-auto p-0">
        {% macro errorList(errors) %}
            {% if errors %}
                {{ ul(errors, {class: 'errors'}) }}
            {% endif %}
        {% endmacro %}

        {% set submission = submission ?? null %}

        <form method="post" action="" accept-charset="UTF-8" id="form">
            {{ csrfInput() }}
            {{ actionInput('contact-form/send') }}
            {{ redirectInput('https://nicofortino.ch/successpages/contactrequest') }}

            {{ craft.contactFormExtensions.recaptcha | raw }}

            <input type="hidden" name="message[disableConfirmation]" value="true">
            <input type="hidden" name="message[formName]" value="Contact Request">
            
            <div class="contact__form__wrapper d-flex flex-wrap">
                {# subject field #}
                <div class="contact__form__inputfield w-100 mt-3">
                    {{ input('text', 'subject', submission.subject ?? '', {
                        id: 'subject',
                        autocomplete: 'name',
                        placeholder: ' ',
                        required: true,
                    }) }}
                    {{ submission ? _self.errorList(submission.getErrors('subject')) }}
                    <label for="subject">subject*</label>
                </div>

                <div class="contact__form__inputfield mt-3">
                    {{ input('text', 'fromName', submission.fromName ?? '', {
                        id: 'name',
                        autocomplete: 'name',
                        placeholder: ' ',
                        required: true,
                    }) }}
                    {{ submission ? _self.errorList(submission.getErrors('fromName')) }}
                    <label for="name">name*</label>
                </div>

                <div class="contact__form__inputfield mt-3">
                    {{ input('email', 'fromEmail', submission.fromEmail ?? '', {
                        id: 'e-mail',
                        autocomplete: 'name',
                        placeholder: ' ',
                        required: true,
                        autocomplete: 'email',
                    }) }}
                    {{ submission ? _self.errorList(submission.getErrors('fromEmail')) }}
                    <label for="e-mail">e-mail*</label>
                </div>

                <div class="contact__form__inputfield w-100 mt-3">
                    {# {{ tag('textarea', {
                        text: submission.message ?? '',
                        id: block.message,
                        name: 'message',
                        rows: 10,
                        cols: 10,
                        placeholder: ' ',
                        required: true,
                    }) }}
                    {{ submission ? _self.errorList(submission.getErrors('message')) }} #}
                    <textarea id="message" name="message[body]" rows="10" cols="10" placeholder=" " required=""></textarea>
                    <label for="message">message*</label>
                </div>

                {# checkbox #}
                <div class="contact__form__checkbox mt-3 d-flex flex-row justify-content-between align-items-center gap-2 c-p linkSmallCursor">
                    <input type="checkbox" id="checkbox" name="checkbox" required>
                    <div class="contact__form__checkbox--checkbox c-p"></div>
                    <div class="whymefeedback__checkmark contact__form__checkbox--checkmark position-relative c-p"></div>
                    <label class="w-100 c-p" for="checkbox"><p>I accept the<em>&nbsp;<a href="https://nicofortino.ch/privacy-policy">Privacy Policy</a>&nbsp;</em>and agree to the use of my provided data for this request.<br></p></label>
                </div>
            </div>

            <div class="contact__open w-100 d-flex justify-content-between mt-4">
                <p class="text-small my-2">Protected by <a class="text-small text-decoration" href="https://policies.google.com/privacy?hl=de-CH">reCAPTCHA</a></p>
                <button type="submit" class="btn btn--default bg-transparent p-0 c-p">send</button>
            </div>

        </form>
      </div>

    </div>
  </div>
{# {% endif %} #}

<div class="projectGrid mt-6 pt-xl-6">
    <div class="projectGrid__inner">
        <div class="projectGrid__wrapper d-flex justify-content-between justify-content-lg-center flex-direction-lg-column flex-wrap gap-0 gap-lg-4">
            <div class="col-12 col-lg-10">
              <h2 class="mb-4 mt-0 mono whyme__title">{{entry.vCard.titel3}}</h2>
            </div>
            {% for project in entry.vCard.projects.all() %}
              <div class="projectGrid__project col-12 col-lg-5">
                  <a href="{{ project.url }}" class="projectGrid__project__link position-relative">
                      <div class="projectGrid__project__img {% if project.project.imagesDarkmode.one() is not null %}imageToggles__dark{% else %}imageToggles__dark-unavilable{% endif %}">
                          <img class="border-radius-6" src="{{ project.project.imagesDarkmode.one().url }}" alt="{{ project.project.imagesDarkmode.one().title }}" loading="lazy">
                      </div>

                      <div class="projectGrid__project__img {% if project.project.imagesDarkmode.one() is not null %}imageToggles__light{% else %}imageToggles__light-unavilable{% endif %}">
                          <img class="border-radius-6" src="{{ project.project.images.one().url }}" alt="{{ project.project.images.title }}" loading="lazy">
                      </div>

                      <div class="projectGrid__project__content {% if project.project.tag is not null %}projectGrid__project__tag--wrapper{% endif %}">
                          <p class="artifact">0{{ loop.index }}</p>
                          <h3 class="projectGrid__project__title mono">{{ project.project.website }}</h3>
                      </div>
                      {% if project.project.tag is not null %}<p class="projectGrid__project__tag">{{ project.project.tag }}</p>{% endif %}
                  </a>
              </div>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-10 mx-auto d-flex justify-content-end mt-2"> 
          <a href="{{siteUrl}}" class="btn btn--default">all projects</a>
        </div>
    </div>
</div>