{% set seo = getSeoField() %}
{% if seo is null or seo.title == '' %}{% set seo = craft.seo.custom(siteName, '', false) %}{% endif %}

{% set seoDefault = seoDefault.metaInfo %}
{% set metaInfo = entry.metaInfo %}

{% if entry.url == 'https://nicofortino.ch/' %}
  <title>Hi, I am Nico</title>
{% elseif entry.section == 'Projects' %}
  <title>{{entry.title}} - developed by Nico Fortino</title>
{% else %}
  <title>{{entry.title}} - Nico Fortino</title>
{% endif %}

<link rel="home" href="{{ siteUrl('') }}"/>
<link rel="canonical" href="{{ seo.canonical }}">
<meta property="og:url" content="{{ siteUrl('') }}">
<meta property="og:type" content="website">

{% if seo.robots %}<meta name="robots" content="{{ seo.robots }}"/>{% endif %}

{% if metaInfo.beschreibung is not null %}
  <meta name='description' content='{{ metaInfo.beschreibung }}'/>
{% else %}
  <meta name='description' content='{{ seoDefault.beschreibung }}'/>
{% endif %}

{% if metaInfo.titel is not null %}
  <meta property='og:title' content='{{ metaInfo.titel }}'/>
{% else %}
  <meta property='og:title' content='{{ seoDefault.titel }}'/>
{% endif %}

{% if metaInfo.socialImage.one() is not null %}
  <meta property='og:image' content='{{ metaInfo.socialImage.one().url }}'/>
{% else %}
  <meta property='og:image' content='{{ seoDefault.socialImage.one().url }}'/>
{% endif %}

{% if metaInfo.beschreibung is not null %}
  <meta property='og:description' content='{{ metaInfo.beschreibung }}'/>
{% else %}
  <meta property='og:description' content='{{ seoDefault.beschreibung }}'/>
{% endif %}

{% if metaInfo.keywords is not null %}
  <meta name="keywords" content="{{ metaInfo.keywords }}">
{% else %}
  <meta name="keywords" content="{{ seoDefault.keywords }}">
{% endif %}

{% header "X-Robots-Tag: all" %}